        /*Desktop Styles*/

@media all and (min-width: 750px) {
  .nav-item {
    font-size: 20px;
  }
  .side-bar {
    height: 110vh;
  }

* {
  font-family: "Open Sans", sans-serif;
}

.container-fluid {
  background-image: url("background-img-2.jpg");
}

.row.d-md-flex.mb-3 {
  background-color: rgb(213, 176, 129) !important;
  padding: 0px;
}

div.row.d-md-flex.mb-3.alert.alert-dark.text-center {
  padding: 0px;
  color: red;
}

.side-bar {
  background-image: url("side-img-1.jpg");
  min-width: 200px;
  flex-wrap: wrap;
}

.btn.btn-outline-secondary {
  border: solid red 1px !important;
  color: white !important;
  text-decoration: underline;
  font-size: larger;
}

.btn.btn-outline-secondary:hover {
  background-color: red !important;
  color: white !important;
  font-style: italic;
  font-size: larger;
}

th {
  color: white !important;
}

div.container.alert.alert-dark {
  color: white;
  background-color: red;
  border: solid white 0.5px;
}

span {
  color: red !important;
  text-decoration: underline;
  font-weight: bold;
  font-style: italic;
  font-size: xxx-large;
}
h4 {
  color: white;
  font-size: xx-large;
  font-weight: bold;
}

a.nav-link {
  color: white !important;
  text-decoration: underline;
  background-image: url("side-img-1.jpg");
  padding: 0px !important;
}

h1.h1 {
  color: white !important;
  font-weight: bold;
  font-style: italic;
}

h2 {
  color: white !important;
  font-weight: bold;
  font-style: italic;
}

.row.mb-0.text-muted {
  justify-content: center;
  /* border: solid blue; */
}

.form-label {
  color: White;
  text-decoration: underline;
  font-weight: bold;
}

div.row.h-10 {
  background-image: url("side-img-1.jpg") !important;
  /* border:solid green; */
}
div.col {
  /* border:solid black; */
  padding-top: 0 !important;
  margin-top: 0 !important;
}

a {
  color: #ffffff !important;
  font-size: xx-large;
  text-decoration: underline;
}

td {
  color: white !important;
  font-weight: bold;
  font-style: italic;
}

th .table {
  color: white !important;
}

}

@media all and (max-width: 749px) {
  .nav-item {
    font-size: 20px;
  }
  .side-bar {
    height: 110vh;
  }
}